@charset "UTF-8";


@media screen and (min-width: 320px) and (max-width: 947px) {

    #story img{
        margin-top: 45px;
        border-radius: 15px;
    }
    
}

@media screen and (min-width: 320px) and (max-width:720px) {
    footer > #contact{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    header{
     min-width: 100px;
     max-width: 670px;
   
     
    }

    button{
        display: block;
        
    }

    header{
       margin-left: 15px;
       margin-right: 15px;
    }

    menu ul{
        flex-flow: column;
        
    }
    
    #desk_options{
        
        display: none;
        
    }
  
}

