@charset "UTF-8";


@media screen and (min-width: 320px) and (max-width: 947px) {

    #story img{
        margin-top: 45px;
        border-radius: 15px;
    }
    
}

@media screen and (min-width: 320px) and (max-width:720px) {
    footer > #contact{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }


}

@media screen and (max-width: 650px) {

   #logo{
    margin-bottom: 50px;
   }

   #nav-list{
    background: whitesmoke; /* #ffffff1a */
    border-radius: 0px 0px 7px 7px;
    display: none;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 80%;
    top: 89%;
   }

    #icon-burguer{
        display: block;
        margin-bottom: 50px;
        margin-right: 20px;
    }

    #bag{
        text-align: center;
    }

    .list{
     text-align: center;
    }
    
}



